services:

  # user service
  user-service:
    build:
      context: ./user-service
    ports:
      - "8080:8080"
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://user-db:5432/user_db
      SPRING_DATASOURCE_USERNAME: userdbadmin
      SPRING_DATASOURCE_PASSWORD: userdbadmin
    depends_on:
    - user-db
    - order-service

  order-service:
    build:
      context: ./order-service
    ports:
      - "8081:8080"
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://order-db:5432/order_db
      SPRING_DATASOURCE_USERNAME: orderdbadmin
      SPRING_DATASOURCE_PASSWORD: orderdbadmin
      SPRING_KAFKA_BOOTSTRAP_SERVERS: kafka:9092
      KAFKA_TOPICS_ORDER: order-notifications
    depends_on:
      - order-db
      - kafka


  notification-service:
    build:
      context: ./notification-service
    ports:
      - "8082:8080"
    env_file:
      - .env
    environment:
      SPRING_KAFKA_BOOTSTRAP_SERVERS: kafka:9092
      SPRING_KAFKA_STREAMS_DEFAULT_KEY_SERDE: org.apache.kafka.common.serialization.Serdes$$StringSerde
      SPRING_KAFKA_STREAMS_DEFAULT_VALUE_SERDE: org.apache.kafka.common.serialization.Serdes$$StringSerde
      KAFKA_TOPICS_ORDER: order-notifications

    depends_on:
      - kafka



  # user database for user microservice
  user-db:
    image: postgres:17
    restart: always
    shm_size: 128mb
    ports:
      - "5432:5432"

    volumes:
      - user_pgdata:/var/lib/postgresql/data

    environment:
      POSTGRES_USER: userdbadmin
      POSTGRES_PASSWORD: userdbadmin
      POSTGRES_DB: user_db

      # https://github.com/docker-library/docs/blob/master/postgres/README.md#postgres_initdb_args
      # POSTGRES_INITDB_ARGS:
      # https://github.com/docker-library/docs/blob/master/postgres/README.md#postgres_initdb_waldir
      # POSTGRES_INITDB_WALDIR:
      # https://github.com/docker-library/docs/blob/master/postgres/README.md#postgres_host_auth_method
      # POSTGRES_HOST_AUTH_METHOD: scram-sha-256
      # https://github.com/docker-library/docs/blob/master/postgres/README.md#pgdata
      # PGDATA:

  # order_db for order-microservice
  order-db:
    image: postgres:17
    restart: always
    shm_size: 128mb

    ports:
      - "5433:5432"

    volumes:
      - order_pgdata:/var/lib/postgresql/data

    environment:
      POSTGRES_USER: orderdbadmin
      POSTGRES_PASSWORD: orderdbadmin
      POSTGRES_DB: order_db


  # kafka
  kafka:
    image: apache/kafka:4.1.1
    restart: always

    hostname: kafka
    container_name: kafka
    ports:
      - "9092:9092"

    environment:
      KAFKA_NODE_ID: 1
      KAFKA_PROCESS_ROLES: broker,controller

      KAFKA_LISTENERS: PLAINTEXT://:9092,CONTROLLER://:9093
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,CONTROLLER:PLAINTEXT
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@kafka:9093

      # ⭐ REQUIRED FOR SINGLE NODE
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1

      # ⭐ REQUIRED FOR KRaft
      KAFKA_CLUSTER_ID: kraft-cluster-1

      KAFKA_AUTO_CREATE_TOPICS_ENABLE: true


volumes:
  user_pgdata:
  order_pgdata:

