services:

  # user service
  user-service:
    build:
      context: ./user-service
    ports:
      - "8080:8080"
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://user-db:5432/user_db
      SPRING_DATASOURCE_USERNAME: userdbadmin
      SPRING_DATASOURCE_PASSWORD: userdbadmin
    depends_on:
      - user-db

  user-db:
    image: postgres:17
    restart: always
    shm_size: 128mb
    ports:
      - "5432:5432"

    volumes:
      - user_pgdata:/var/lib/postgresql/data

    environment:
      POSTGRES_USER: userdbadmin
      POSTGRES_PASSWORD: userdbadmin
      POSTGRES_DB: user_db

volumes:
  user-pgdata:
