name: Deploy user-service to EC2

on:
  workflow_run:
    workflows: ["build, test and push to docker user-service"]
    types:
      - completed

jobs:
  deploy:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest

    steps:
      - name: ssh to order-service EC2 instance and depoly user-service
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_USER_SERVICE_HOST }}
          username: ${{ secrets.EC2_USER_SERVICE_USER }}
          key: ${{ secrets.EC2_USER_SERVICE_SSH_KEY }}
          script: |
            echo Installing the Docker to EC2...
            sudo apt update
            sudo apt install docker -y
            
            echo Login to the Docker Hub...
            docker login -u ${{ secrets.DOCKER_USERNAME }} -p ${{ secrets.DOCKER_PASSWORD }}
            
            echo Downloading the user-service image from DockerHub...
            docker pull ${{ secrets.DOCKER_USERNAME }}/user-service:latest
            
            echo Stoping and Removing previous Image...
            docker stop user-service || true
            docker rm user-service || true
            
            echo Running the user-service...
            docker run -d \
              --name user-service \
              --restart always \
              -p 80:8080 \
              ${{ secrets.DOCKER_USERNAME }}/user-service:latest
