name: Deploy notification-service to EC2

on:
  workflow_run:
    workflows: ["build notification-service"]
    types:
      - completed

jobs:
  deploy-notification-service:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest

    steps:
      - name: ssh to notification-service EC2 instance and deploy notification-service
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_NOTIFICATION_SERVICE_HOST }}
          username: ${{ secrets.EC2_NOTIFICATION_SERVICE_USER }}
          key: ${{ secrets.EC2_NOTIFICATION_SERVICE_SSH_KEY }}
          script: |
            #----- Install and Run Docker -----
            if ! command -v docker &> /dev/null; then
              echo -e "\e[32mInstalling Docker...\e[0m"
              sudo apt-get update -y
              sudo apt-get install -y docker.io
              sudo systemctl enable docker
              sudo systemctl start docker
              sudo systemctl status docker --no-pager
            else
              echo -e "\e[32mDocker already installed\e[0m"
            fi
            
            
            echo -e "\e[32mLogin to the Docker Hub...\e[0m"
            docker login -u ${{ secrets.DOCKER_USERNAME }} -p ${{ secrets.DOCKER_PASSWORD }}
            
            echo -e "\e[32mDownloading the user-service image from DockerHub...\e[0m"
            sudo docker pull ${{ secrets.DOCKER_USERNAME }}/notification-service:latest
            
            echo -e "\e[32mStoping and Removing previous Image...\e[0m"
            sudo docker stop notification-service || true
            sudo docker rm notification-service || true
            
            echo -e "\e[32mRDS user-db values are exporting to user-service\e[0m"
            
            echo -e "\e[32mRunning the user-service...\e[0m"
            sudo docker run -d \
              -e SPRING_KAFKA_BOOTSTRAP_SERVERS=${{ secrets.EC2_KAFKA_PRIVATE_IP }}:9092 \
              -e 'SPRING_KAFKA_STREAMS_DEFAULT_KEY_SERDE=org.apache.kafka.common.serialization.Serdes$$StringSerde' \
              -e 'SPRING_KAFKA_STREAMS_DEFAULT_VALUE_SERDE=org.apache.kafka.common.serialization.Serdes$$StringSerde' \
              -e "MAIL_USERNAME=${{ secrets.MAIL_USERNAME }}" \
              -e "MAIL_PASSWORD=${{ secrets.MAIL_PASSWORD }}" \
              --name notification-service \
              --restart always \
              -p 80:8080 \
              ${{ secrets.DOCKER_USERNAME }}/notification-service:latest

