name: Deploy order-service to EC2

on:
  workflow_run:
    workflows: ["build, test and push to docker order-service"]
    types:
      - completed

jobs:
  deploy-order-service:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest

    steps:
      - name: ssh to order-service EC2 instance and deploy order-service
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_ORDER_SERVICE_HOST }}
          username: ${{ secrets.EC2_ORDER_SERVICE_USER }}
          key: ${{ secrets.EC2_ORDER_SERVICE_SSH_KEY }}
          script: |
            #----- Install and Run Docker -----
            if ! command -v docker &> /dev/null; then
              echo -e "\e[32mInstalling Docker...\e[0m"
              sudo apt-get update -y
              sudo apt-get install -y docker.io
              sudo systemctl enable docker
              sudo systemctl start docker
              sudo systemctl status docker --no-pager
            else
              echo -e "\e[32mDocker already installed\e[0m"
            fi
            
            #----- Prevent docker to run only with sudo -----
            if ! id -nG "$USER" | grep -qw docker; then
              echo -e "\e[32mAdding docker to user group\e[0m"
              sudo usermod -aG docker $USER
              newgrp docker
            else
              echo -e "\e[32mDocker is already added to user group on ec2\e[0m"
            fi
            
            
            echo -e "\e[32mLogin to the Docker Hub...\e[0m"
            docker login -u ${{ secrets.DOCKER_USERNAME }} -p ${{ secrets.DOCKER_PASSWORD }}
            
            echo -e "\e[32mDownloading the user-service image from DockerHub...\e[0m"
            docker pull ${{ secrets.DOCKER_USERNAME }}/order-service:latest
            
            echo -e "\e[32mStoping and Removing previous Image...\e[0m"
            docker stop order-service || true
            docker rm order-service || true
            
            echo -e "\e[32mRDS user-db values are exporting to user-service\e[0m"
            
            echo -e "\e[32mRunning the user-service...\e[0m"
            docker run -d \
              -e SPRING_DATASOURCE_URL=${{ secrets.ORDER_DB_URL }} \
              -e SPRING_DATASOURCE_USERNAME=${{ secrets.ORDER_DB_USERNAME }} \
              -e SPRING_DATASOURCE_PASSWORD=${{ secrets.ORDER_DB_PASSWORD }} \
              --name order-service \
              --restart always \
              -p 80:8080 \
              ${{ secrets.DOCKER_USERNAME }}/order-service:latest

