name: Deploy user-service to EC2

on:
  workflow_run:
    workflows: ["build, test and push to docker user-service"]
    types:
      - completed

jobs:
  deploy:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest

    steps:
      - name: Deploy on EC2
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            docker login -u ${{ secrets.DOCKER_USERNAME }} -p ${{ secrets.DOCKER_PASSWORD }}

            docker pull jaikrn/jaikaran:latest

            docker stop app || true
            docker rm app || true

            docker run -d \
              --name app \
              --restart always \
              -p 80:8080 \
              jaikrn/jaikaran:latest

